<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loja do usuário</title>
  </head>
  <body>
    <header>
      <h1>Loja Fatal Lady</h1>
      <nav>
        <a href="/">Início Loja</a>
        <a href="/me/painel">Painel</a>
        <a href="/logout">Sair</a>
      </nav>
    </header>
    <main>
      {% block content %}
      <!--Entrada dos conteúco das páginas dados painel etc..-->
      {% endblock %}
    </main>
    <footer>
      <p>{{2025}} Fatal Lady - Desenvolvido por Coffe and Code</p>
    </footer>
  </body>
</html>
