<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h2>Meu Carrinho</h2>

    {% if carrinho %}
    <ul>
        {% for item in carrinho %}
        <li>
            <strong>{{ item.id }}</strong> — R$ {{ item.preco_unitario }} -- ID -{{item.produto_id}}<br>

            <!-- Formulário para editar quantidade -->
            <form action="/carrinho/editar/{{ item.produto_id }}" method="post" style="display:inline;">
                <input type="number" name="quantidade" value="{{ item.quantidade }}" min="1" required>
                <button type="submit">Atualizar</button>
            </form>

            <!-- Formulário para remover produto -->
            <form action="/carrinho/remover/{{ item.produto_id }}" method="post" style="display:inline;">
                <button type="submit" style="color:red;">Remover</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <p><strong>Total:</strong> R$ {{ total }}</p>

    <form action="/checkout" method="post">
        <button type="submit">Finalizar compra</button>
    </form>

    {% else %}
        <p>Carrinho está vazio!</p>
    {% endif %}

    <a href="/">Voltar à loja</a>
</body>
</html>
