<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h2>Meu Carrinho</h2>
    {% if carrinho %}
    <ul>
        {% for item in carrinho %}
            <li>{{item.nome}} - {{item.quantidade}} R$ {{item.preco}} </li>
        {% endfor %}
    </ul>
    <p>Total: R${{total}}</p>
    <form action="/checkout" method="post">
        <button type="submit">Finalizar compra</button>
    </form>
    {% else %}
        <p>Carrinho está Vazio</p>
    {% endif %}
    <a href="/">Voltar à loja</a>
</body>
</html>