<!-- CODIGO NAO ESTA COMPLETO!!!!!!!!!!!!!! -->


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>📊 Dashboard Fatal Lady</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-light">
    <div class="container py-5">
        <h1 class="text-center mb-5"> Painel de Gráficos Fatal Lady</h1>

        <div class="dashboard">
        {{ grafico_vendas|safe }}
        {{ grafico_produtos|safe }}
        {{ grafico_categoria|safe }}
        {{ grafico_fabricante|safe }}
        {{ grafico_pagamento|safe }}
        {{ grafico_avaliacoes|safe }}
        </div>


        <div class="text-center mt-5">
            <a href="/admin" class="btn btn-outline-light btn-lg">Voltar para Página de Admin</a>
        </div>
    </div>
</body>
</html>
