<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h2>PIX - Código gerado</h2>

    <p>Pagamento ID: {{ pagamento.id }}</p>
    <p>Valor: R$ {{ "%.2f"|format(pagamento.valor_total) }}</p>
    <p>Código PIX para pagamento (simulado): <strong>{{ codigo_pix }}</strong></p>
    <p>Você pode copiar o código e efetuar o pagamento pelo seu banco.</p>

    <a href="/pagamentos/success">Marcar como pago</a>
    {% endblock %}
</body>
</html> -->
